.u-m-1 {
  margin: var(--unit-1);
}

.u-m-2 {
  margin: var(--unit-2);
}

.u-m-3 {
  margin: var(--unit-3);
}

.u-mr-1 {
  margin-right: var(--unit-1);
}

.u-mr-2 {
  margin-right: var(--unit-2);
}

.u-mr-3 {
  margin-right: var(--unit-3);
}