.e-bg::after {
  content: "";
  opacity: 0.05;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
}

.e-bg-image-login::after {
  background-image: url('../../statics/images/loginBg.jpg');
}

.e-bg-image-home::after {
  background-image: url('../../statics/images/homeBg.jpg');
}

.e-bg-image-no-teams::after {
  background-image: url('../../statics/images/noTeamsBg.jpg');
}

.e-bg-image-team-not-found::after {
  background-image: url('../../statics/images/teamNotFoundBg.jpg');
}

.e-bg-image-new-team::after {
  background-image: url('../../statics/images/teamsBg.jpg');
}