.e-home-bg::after {
    content: "";
    background: url('../../statics/images/homeBg.jpg');
    opacity: 0.5;
    top: 55px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(4px);
}
