.e-teams-bg::after {
    content: "";
    background: url('../../statics/images/teamsBg.jpg');
    opacity: 0.5;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(4px);
}
